.app-container {
    display: flex;
    justify-content: center;
    margin-top: 63px;
    text-align: center;
}

.container-profile {
    width: 1374px;
    height: 1795px;
    padding: 0;
    margin: 32px;
}

.container-profile .edit-button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.container-profile .btn-edit {
    width: 117px;
    color: white;
    font-size: 12px;
    font-weight: 400;
    padding: 12px;
    cursor: pointer;
    background-color: black;
    border: 2px solid black;
}

.container-profile .btn-edit:hover {
    color: black;
    background-color: white;
}

.container-profile-content {
    width: 100%;
    display: flex;
}


.gallery-profile {
    width: 1066px;
}

.gallery-content {
    width: 100%;
}

.profile-title {
    position: relative;
    text-align: left;
    font-weight: bold;
    height: 40px;
}

.profile-title > hr {
    position:absolute;
    width:100%;
    margin-bottom: 0;
    margin-top: 16px;
}

.profile-title > .title-text {
    font-size: 17px;
    font-weight: 700;
    position: absolute;
    padding-right: 20px;
    background-color:#fff;
}

.input-block {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
}

.input-container-half {
    width: 520px;
    border: 1px solid black;
    padding: 6px 0;
    flex-grow: 0;
    flex-shrink:0;
    margin-bottom: 16px;
    background-color: #FEFEFE;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

/* DRY */
.input-container-full {
    width: 100%;
    border: 1px solid black;
    padding: 6px 0;
    margin-bottom: 16px;
    background-color: #FEFEFE;
}

.input-label {
    font-size: 14px;
    font-weight: bold;
    max-width: 50%;
}

.input-lable-left {
    text-align: left;
}

.input-lable-right {
    text-align: right;
}

.input-no-border {
    border: none;
    width: 50%;
    text-transform: uppercase;
    /* max-width: 50%; */
}

.input-hidden {
    display: none;
}

.space-top {
    margin-top: 46px;
}

.large-box {
    height: 465px;
}

.biography-box {
    margin: 12px;
}

#biography {
    width: 100%;
    padding: 0;
    margin: 16px 0 0 0;
    border: none;
    resize: none;
}


.image-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 16px;
}

.remove-border {
    padding: 0;
    border: none;
}

.gallery-image {
    width: 311px;
    height: auto;
    min-height: 200px;
    max-height: 435px;
}

.btn-image {
    width: 172px;
    height: 46px;
    font-size: 12px;
    font-weight: 700;
    line-height: 46px;
    background-color: white;
    border: 0.25px solid black;
    box-sizing: border-box;
}

.btn-image:hover {
    color:white;
    background-color: black;
}

.website-box {
    margin: 19px 13px;
}

.shipping-info {
    display: flex;
    align-items: center;
}

.shipping-title {
    margin: 0 12px;
}
  
#selectTopic input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}
  
#selectTopic label {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    background-color:white;
    /* padding: 5px 10px; */
    margin: 0 10px;
    font-size: 12px;
    border: 2px solid #444; 
    width: 120px;
    height: 60px;
}
  
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
  
#selectTopic input[type="radio"]:checked + label {
    background-color:black;
    color: white;
}
  
#selectTopic input[type="radio"]:focus + label {
    border: 2px solid black;
}
  
#selectTopic label:hover {
    background-color:black;
    color: white;
}

.save-change {
    width: 100% !important;
    height: 60px;
}

.biography-text {
    text-align: left;
    margin-top: 12px;
}