#collectorProfile {
  margin-top: 5vh;
  margin-left:13px;
  margin-right: 20px;
  margin-bottom: 40px;
}

#formContainer{
  display: flex;
  flex-direction: row;
}

#formContainerField {
  margin-top: 0.5vw;
  margin-left: 2vw;
  width: auto;
}

.collectorHeader .btnPrivate {
  width: 250px;
  color: white;
  font-size: 12px;
  font-weight: 400;
  padding: 12px;
  cursor: pointer;
  background-color: black;
  border: 2px solid black;
  text-transform: uppercase;
  margin-bottom: 1.5vw;
}

.collectorHeader .btnPrivate:hover {
  color: black;
  background-color: white;
}

.collector-name {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.personalInformation h1 {
  margin: 0;
  font-family: 'akzidenz-grotesk_proregular';
  font-size: 20px;
  align-items: flex-end;
}

.personalInformation .btn-edit {
  width: 117px;
  color: white;
  font-size: 12px;
  font-weight: 400;
  padding: 12px;
  cursor: pointer;
  background-color: black;
  border: 2px solid black;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.personalInformation .btn-edit:hover {
  color: black;
  background-color: white;
}

.personalInformation {
  width: 80vw;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  border: 0;
}

.btnContainer > .btn-edit {
padding: 1rem;
}

.collector-type {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  height: auto;
}
.collector-type span {
  font-size: 14px;
  /* max-width: 50%; */
  padding-left: 3px;
  text-align: left;
  font-family: 'akzidenz-grotesk_probold';
  width: 10rem;
}

.budget {
  display: flex;
  justify-content: space-between;
  width: 40vw;
  margin-top: 2vh;
}

.budget input {
  text-align: end;
  width: 5vw;
}

#budgetLabel {
  padding: 0;
}
 

#newsBool label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align:center;
  background-color:white;
  padding: 5px 10px;
  font-size: 12px;
  border: 1px solid black; 
  width: 120px;
  height: 30px;
  margin: 0 1rem;
}

#newsBool label:hover {
  background-color:black;
  color: white;
}

#newsBool input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

#newsBool input[type="radio"]:checked + label {
  background-color: black;
  color: white;
}

#newsBool input[type="radio"]:focus + label {
  border: 1px solid black;
}



#saveButton{
  width: 100% !important;
  height: 60px;
}

#saveButton {
  width: 117px;
  margin-top: 3vh;
  color: black;
  font-size: 16px;
  font-weight: 400;
  padding: 12px;
  cursor: pointer;
  background-color: white;
  border: 1px solid black;
  text-transform: uppercase;
}

#saveButton:hover {
  color: white;
  background-color: black;
}

#bugetLabel {
  font-family: 'akzidenz-grotesk_probold';
  padding-left: 3px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
/* .collector-type {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
} */
/* BEHAVIOUR CHECK INPUTS */
.behaviourCheck {
  width: 100%;
}
.behaviourCheck label {
  text-transform: uppercase;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color:white;
  padding: 5px 10px;
  font-size: 12px;
  border: 1px solid #000; 
  height: 45px;
  margin: 1rem;
}

.behaviourCheck label:hover {
  background-color:black;
  color: white;
}

.behaviourCheck input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.behaviourCheck input[type="radio"]:checked + label {
  background-color: black;
  color: white;
}

.behaviourCheck input[type="radio"]:focus + label {
  border: 1px solid black;
}