/* HOMEPAGE */
/* Main container for images */

#allImagesContainer {
  min-width: 96vw;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  padding-bottom: 25px;
  margin-left: 2vw;
  padding-right: 20vw;
}

@media (max-width: 481px) {
  #allImagesContainer {
    display: flex;
    flex-direction: column;
    padding-bottom: 260px;
  }
}

@media (max-width: 481px) {
  #AOC, #CS, #SAAP{
    width: 100vw;
    padding-top: 5vw;
  }
  
  #AOC {
    background-color: #e75d82;
  }

  #CS {
    background-color: #d2d1ce;

  }
  #SAAP {
    background-color: #a89570;

  }

  #AOC h3, #CS h3, #SAAP h3 {
    display: block;
    border-top: 1.2px solid white;
    font-family: "editorial_newultralight";
    font-size: 24px;
    color: white;
    margin-right: 15px;
    margin-left: 15px;
    width: 90vw;
    margin-top: 5px;
    padding-top: 10px;
  }
  #btnAOC, #btnCS, #btnSAAP{
    color: white;
    border: none;
    align-self: center;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 10px;
  }

  #btnAOC{
    background-color: #e75d82;
  }
  #btnCS {
    background-color: #d2d1ce;
  }

  #btnSAAP {
    background-color: #a89570;
  }

  .blurEffectHP, .imageContainer {
    height: 60vh;
    width: 100vw;
  }

  .blurEffectHP {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  #AOC p:before, #CS p:before, #SAAP p:before {
    font-family: "akzidenz-grotesk_probold";
    font-size: 18px;
    color: white;
    font-style: normal;
    margin-left: 15px;
    text-transform: uppercase;
  }

  #AOC p:before {
    content: "ARTIST OPEN CALL ";
  }

  #CS p:before {
    content: "COLLECTOR SPACE";
  }

  #SAAP p:before {
    content: "SUPPORT AN ARTIST PROJECT";
  }

  .imageContainer h2 {
    display: none;
  }
}

.blurEffectHP p {
  font-size: 0;
  margin: 0;
  padding: 0;
}

/* Style the buttons and place it in the middle of the container/image */
.imageContainer .btnBlack {
  color: black;
  font-size: 16px;
  padding: 12px 24px;
  border: solid 1px black;
  cursor: pointer;
  background-color: transparent;
  width: 160px;
  height: auto;
  text-decoration: none;
}

/* .imageContainer .btnBlack:hover {
  background-color: black;
  color: white
} */

.imageContainer .btnWhite {
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: solid 1px white;
  cursor: pointer;
  background-color: transparent;
  width: 160px;
}

/* .imageContainer .btnWhite:hover {
  background-color: white;
  color: black
} */

.blurEffectHP:hover #btnAOC {
  background-color: #e75d82;
  color: white;
  border: solid 1px white;
}

.blurEffectHP:hover #AOC {
  background-color: #e75d82;
  color: white;
}

#AOC, #CS, #SAAP {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#btnCS:hover {
  background-color: #d2d1ce;
  color: white;
  border: solid 1px white;
}

.blurEffectHP:hover #CS {
  background-color: #d2d1ce;
  color: white;
}


#btnSAAP:hover {
  background-color: #a89570;
  color: white;
  border: solid 1px white;
}

.blurEffectHP:hover #SAAP {
  background-color: #a89570;
  color: white;
}


/* Position the text */
.imageContainer h2 {
  padding-top: 25px;
  font-size: 16px;
  text-decoration: none;
  margin-left: 15px;
}
.blurEffectHP:hover h3 {
  display: block;
  font-family: "editorial_newultralight";
  font-size: 24px;
  color: white;
  margin-right: 15px;
  margin-left: 15px;
}

.imageContainer h3 {
  display: none;
}

.btnHP {
  align-self: flex-end;
  margin-bottom: 15px;
  margin-right: 15px;
}

.textBlack {
  text-decoration: none;
}
.textWhite {
  text-decoration: none;
}

/* Handle the images */

.imageContainer {
  display: block;
  height: 85vh;
  width: 31.1vw;
  margin: 0 5px;
}

@media (max-width: 481px) {
  .imageContainer{
    width: 100vw;
    height: 60vh;
    margin-bottom: 5vw;
    display: block;
    margin-left: -6px;
  }
}
@media (min-width: 480px) {
  .blurEffectHP {
    display: block;
    height: 85vh;
    width: 31.1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.blurEffectHP:hover {
  backdrop-filter: blur(0px);
}

.imageContainer h2 {
  visibility: visible;
}

#imageLeft {
  background-image: url("../../../images/HOMEPAGE\ 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  background-position: center;
}

#imageMiddle {
  background-image: url("../../../images/HOMEPAGE\ 2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#imageRight {
  background-image: url("../../../images/HOMEPAGE\ 3.png");
  background-position: center;
  background-size: cover;
}

.textWhite {
  color: white;
}
