/* HOMEPAGE */
/* Main container for images */



#allImagesContainer {
  min-width: 96vw;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  padding-bottom:25px;
  margin-left:2vw;
  padding-right: 20vw;
}


/* Style the buttons and place it in the middle of the container/image */
.imageContainer .btnBlack {
  color: black;
  font-size: 16px;
  padding: 12px 24px;
  border: solid 1px black;
  cursor: pointer;
  background-color: transparent;
  width: 160px;
  height: auto;
  text-decoration: none;
}

/* .imageContainer .btnBlack:hover {
  background-color: black;
  color: white
} */

.imageContainer .btnWhite {
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: solid 1px white;
  cursor: pointer;
  background-color: transparent;
  width: 160px;
}

/* .imageContainer .btnWhite:hover {
  background-color: white;
  color: black
} */

.blurEffectHP:hover #btnAOC {
  background-color:#E75D82;
  color: white;
  border: solid 1px white;
}

.blurEffectHP:hover #AOC{
  background-color:#E75D82;
  color: white;
}

 #AOC{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#btnCS:hover {
  background-color:#D2D1CE;
  color: white;
  border: solid 1px white;
}

.blurEffectHP:hover #CS {
  background-color:#D2D1CE;
  color: white;
}

#CS{
  display: flex;
  flex-direction: column;
}

#btnSAAP:hover {
  background-color:#A89570;
  color: white;
  border: solid 1px white;
}

.blurEffectHP:hover #SAAP {
  background-color:#A89570;
  color: white;
}

#SAAP{
  display: flex;
  flex-direction: column;
}



  /* Position the text */
  .imageContainer h2 {
    padding-top: 25px;
    font-size: 16px;
    text-decoration: none;
    margin-left: 15px;
    
  }
  .blurEffectHP:hover h3{
    display: block;
    font-family: 'editorial_newultralight';
    font-size: 24px;
    color: white;
    margin-right: 15px;
    margin-left:15px;
  }

  .imageContainer h3{
    display: none;

  }


.btnHP{
  align-self: flex-end;
  margin-bottom: 15px;
  margin-right: 15px;
}

    
  .textBlack {

    text-decoration: none;
  }
  .textWhite {

    text-decoration: none;
  }


  /* Handle the images */

  .imageContainer{
    display: block;
    height: 85vh;
    width: 31.1vw;
    margin: 0 5px;;
  }

  .blurEffectHP {
    display: block;
    height: 85vh;
    width: 31.1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .blurEffectHP:hover{
    backdrop-filter: blur(0px);
  }

  .imageContainer h2{
    visibility: visible;
  }


#imageLeft {
  background-image: url('../../../images/HOMEPAGE\ 1.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  background-position: center;
}

#imageMiddle{
  background-image: url("../../../images/HOMEPAGE\ 2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

} 

#imageRight{
  background-image: url("../../../images/HOMEPAGE\ 3.png");
  background-position: center;
  background-size: cover;
} 

.textWhite{
  color: white;
}