.app-container {
    display: flex;
    justify-content: center;
    margin-top: 63px;
    text-align: center;
}

.container-inventory {
    width: 1374px;
    height: 1450px;
    padding: 0;
    margin: 16px 32px;
}

.container-inventory .gallery-name {
    font-size: 34px;
    line-height: 50px;
    text-align: left;
}

/* .container-profile .edit-button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.container-profile .btn-edit {
    width: 117px;
    color: white;
    font-size: 12px;
    font-weight: 400;
    padding: 12px;
    cursor: pointer;
    background-color: black;
    border: 2px solid black;
}

.container-profile .btn-edit:hover {
    color: black;
    background-color: white;
} */

.container-inventory-content {
    width: 100%;
    display: flex;
    margin-top: 38px;
    min-width: 560px;
    border-bottom: 1px solid black;
    padding-bottom: 40px;
}


.gallery-profile {
    width: 1066px;
}

.gallery-content {
    width: 100%;
}

.flex-inventory-between {
    display: flex;
    justify-content: space-between;
}

.inventory-text-center {
    text-align: center;
}


.filter-box {
    width: 620px;
    height: 52px;
    background-color: #C4C4C4;
    border: 0.25px solid #000000;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-add-artwork {
    width: 422px;
    height: 52px;
    color: white;
    font-size: 12px;
    font-weight: 400;
    padding: 12px;
    cursor: pointer;
    background-color: black;
    border: 2px solid black;
}

.btn-add-artwork:hover {
    color: black;
    background-color: white;
}

.inventory-search {
    width: 820px;
    height: 52px;
    margin: 24px 0;
    font-size: 13px;
    padding-left: 20px;
    text-transform: uppercase;
}

.inventory-sort {
    margin: 24px 0 0 0;
}

.inventory-sort input[type="checkbox"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.inventory-sort label {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    background-color:white;
    /* padding: 5px 10px; */
    font-size: 13px;
    border: 1px solid #444; 
    width: 200px;
    height: 55px;
}
  
.inventory-sort input:-webkit-autofill,
.inventory-sort input:-webkit-autofill:hover,
.inventory-sort input:-webkit-autofill:focus,
.inventory-sort input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
  
.inventory-sort input[type="checkbox"]:checked + label {
    background-color:black;
    color: white;
}
  
.inventory-sort input[type="checkbox"]:focus + label {
    border: 1px solid black;
}
  
.inventory-sort label:hover {
    background-color:black;
    color: white;
}

.artwork-list {
    width: 100%;
    height: 1060px;
    overflow-y: auto;
}

.artwork-list-item {
    width: 100%;
    height: 86px;
    display: flex;
    align-items: center;
    border-top: 0.5px solid #000000;
}

.artwork-list-item-thumbnail {
    width: 73px;
    height: 42px;
    object-fit: cover;
}

.artwork-list-item-info {
    margin-left: 27px;
    font-size: 14px;
    line-height: 24px;
}

.artwork-list-item-name {
    font-weight: bold;
    text-transform: uppercase;
}












.profile-title {
    position: relative;
    text-align: left;
    font-weight: bold;
    height: 40px;
}

.profile-title > hr {
    position:absolute;
    width:100%;
    margin-bottom: 0;
    margin-top: 16px;
}

.profile-title > .title-text {
    font-size: 17px;
    font-weight: 700;
    position: absolute;
    padding-right: 20px;
    background-color:#fff;
}

.input-block {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
}

.input-container-half {
    width: 520px;
    border: 1px solid black;
    padding: 6px 0;
    flex-grow: 0;
    flex-shrink:0;
    margin-bottom: 16px;
    background-color: #FEFEFE;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

/* DRY */
.input-container-full {
    width: 100%;
    border: 1px solid black;
    padding: 6px 0;
    margin-bottom: 16px;
    background-color: #FEFEFE;
}

.input-label {
    font-size: 14px;
    font-weight: bold;
    max-width: 50%;
}

.input-lable-left {
    text-align: left;
}

.input-lable-right {
    text-align: right;
}

.input-no-border {
    border: none;
    width: 50%;
    text-transform: uppercase;
    /* max-width: 50%; */
}

.input-hidden {
    display: none;
}

.space-top {
    margin-top: 46px;
}

.large-box {
    height: 465px;
}

.biography-box {
    margin: 12px;
}

#biography {
    width: 100%;
    padding: 0;
    margin: 16px 0 0 0;
    border: none;
    resize: none;
}


.image-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 16px;
}

.remove-border {
    padding: 0;
    border: none;
}

.gallery-image {
    width: 311px;
    height: auto;
    min-height: 200px;
    max-height: 435px;
}

.btn-image {
    width: 172px;
    height: 46px;
    font-size: 12px;
    font-weight: 700;
    line-height: 46px;
    background-color: white;
    border: 0.25px solid black;
    box-sizing: border-box;
}

.btn-image:hover {
    color:white;
    background-color: black;
}

.website-box {
    margin: 19px 13px;
}

.shipping-info {
    display: flex;
    align-items: center;
}

.shipping-title {
    margin: 0 12px;
}
  
#selectTopic input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}
  
#selectTopic label {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    background-color:white;
    /* padding: 5px 10px; */
    margin: 0 10px;
    font-size: 12px;
    border: 2px solid #444; 
    width: 120px;
    height: 60px;
}
  
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
  
#selectTopic input[type="radio"]:checked + label {
    background-color:black;
    color: white;
}
  
#selectTopic input[type="radio"]:focus + label {
    border: 2px solid black;
}
  
#selectTopic label:hover {
    background-color:black;
    color: white;
}

.save-change {
    width: 100% !important;
    height: 60px;
}

.biography-text {
    text-align: left;
    margin-top: 12px;
}