.collector-sidebar {
    width: 15.6vw;
}

.collector-sidebar .sidebar-box {
    width: 15.6vw;
    border-right: 0.5px solid black;
}

.text-left {
    text-align: left;
}

.collector-sidebar-text {
    font-size: 14px;
    padding-bottom: 62px;
}

.collector-sidebar .sidebar-text-bold {
    font-weight: 700;
    line-height: 18px;
}