.app-container-gallery-sales {
    display: flex;
    justify-content: center;
    /* margin-top: 63px; */
    text-align: center;
    padding-bottom: 63px;
    border-bottom: 1px solid black;
    margin-bottom: 24px;
    border-top: 1px solid black;
}

.gallery-container-sales {
    width: 1374px;
    /* height: 1250px; */
    padding: 0;
    margin: 16px 32px;
}

.gallery-sales-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid black;
    padding-bottom: 16px;
    margin-bottom: 16px;
}

.gallery-sales-name {
    font-size: 34px;
    line-height: 50px;
    text-align: left;
}

.gallery-sales-header .btn-request {
    width: 243px;
    height: 60px;
    color: white;
    font-size: 12px;
    font-weight: 400;
    padding: 12px;
    margin-left: 26px;
    cursor: pointer;
    background-color: black;
    border: 1px solid black;
}

.gallery-sales-header .btn-request:hover {
    color: black;
    background-color: white;
}

.container-sales-content {
    width: 100%;
    display: flex;
    padding-bottom: 40px;
    border-bottom: 1px solid black;
}

.gallery-sales {
    width: 1066px;
}

.gallery-status-bar {
    width: 100%;
    height: 69px;
    background-color: #C4C4C4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gallery-status-bar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.gallery-status-bar input[type="radio"]:checked + label {
    font-weight: bold;
    text-decoration: underline;
    color: black;
    background-color: #C4C4C4;
    border: none;
}

.gallery-status-bar label:hover {
    color: black;
    background-color: #C4C4C4;
}

.gallery-status-bar label {
    margin: 0 42px;
    font-size: 16px;
}

.sales-pending-item {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid black;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.sales-pending-item span {
    width: 13.5%;
    font-size: 14px;
    text-transform: uppercase;
}

.sales-pending-item .status {
    font-size: 16px;
    font-weight: bold;
    color: #C90000;
}

.sales-pending-item button {
    width: 136px;
    height: 37px;
    color: white;
    background-color: #BEBEBE;
    border: none;
}

.sales-pending-item button:hover {
    color: black;
    background-color: white;
    border: 1px solid #BEBEBE;
}

.collector-request-name {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.detail-request-container {
    width: 100%;
    height: 600px;
    display: flex;
    text-align: left;
    margin-top: 18px;
    overflow-y: auto;
}

.detail-request-name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 12px;
}

.detail-collector-left {
    width: 30%;
}

.detail-collector-right {
    width: 70%;
    padding-right: 24px;

}

.detail-request-footer {
    display: flex;
    justify-content: space-between;
}

.detail-request-footer button {
    width: 200px;
    height: 37px;
    color: white;
    background-color: #BEBEBE;
    border: none;
}

.detail-request-footer button:hover {
    color: black;
    background-color: white;
    border: 1px solid #BEBEBE;
}

.detail-request-footer div > button {
    margin-left: 36px;
}






.offer-container {
    width: 100%;
}

.offer-select-inventory {
    width: 100%;
    height: 60px;
    background-color: #FEFEFE;
    font-size: 13px;
    line-height: 17px;
    color: black;
    border: 1px solid black;
    text-transform: uppercase;
}

.offer-select-inventory:hover {
    background-color: black;
    color: white;
}

.offer-message-container {
    margin-top: 24px;
}

.offer-message {
    width: 100%;
    height:142px;
    border: 1px solid black;
    margin-top: 12px;
    /* padding: 12px; */
}

.offer-message textarea {
    width: 90%;
    padding: 0;
    margin: 16px;
    border: none;
    resize: none;
}


.gallery-send-offer  {
    width: 100%;
    height: 60px;
    font-size: 13px;
    line-height: 17px;
    background-color: black;
    color: white;
    border: none;
    padding: 0;
    margin-top: 24px;
}

.gallery-send-offer:hover {
    color: black;
    background-color: #FEFEFE;
    border: 1px solid black;
}

.offer-my-inventory {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    z-index: 9999;

    display: flex;
    justify-content: center;
}

.offer-my-inventory-container {
    width: 800px;
    height: 80%;
    background-color: white;
    margin-top:5%;
    margin-bottom: 5%;
    padding: 24px;
}

.offer-inventory-header {
    display: flex;
    justify-content: space-between;
}

.offer-inventory-header > span {
    font-size: 17px;
    font-weight: bold;
}

.offer-my-inventory-container > input {
    width: calc(100% - 48px);
    height: 43px;
    /* line-height: 38px; */
    background-color: #EAEAEA;
    font-size: 14px;
    padding: 0 24px;
    border: 1px;
    margin-top: 24px;
}

.offer-results {
    width: 100%;
    margin-top: 24px;
    height: 80%;
    overflow-y: auto;
}

.offer-results button {
    width: 158px;
    height: 38px;
    background-color:  #C4C4C4;
    color: white;
    border: none;
}

.offer-results button:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.offer-results-item {
    width: 100%;
    /* height: 235px; */
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    margin-bottom: 12px;
    padding-bottom: 12px;
    align-items: flex-end;
}

.offer-results-item > div {
    display: flex;
}

.offer-results-item > div > div {
    margin-left: 24px;
}

.offer-artist-name {
    font-size: 14px;
    font-weight: bold;
    line-height: 24 px;
}

.offer-item-img {
    width: 135px;
    height: 180px;
    object-fit: cover;
}

.offer-my-inventory-container > button {
    width: 158px;
    height: 38px;
    background-color:  #C4C4C4;
    color: white;
    border: none;
}

.offer-my-inventory-container > button:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}