.app-container-collector-acquisitions {
  display: flex;
  justify-content: center;
  /* margin-top: 63px; */
  text-align: center;
  padding-bottom: 63px;
  border-bottom: 1px solid black;
  margin-bottom: 24px;
}

.collector-container-acquisitions {
  width: 100%;
  /* height: 1250px; */
  padding: 0;
  margin: 16px 32px;
}

.collector-acquisitions-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid black;
  padding-bottom: 16px;
  margin-bottom: 16px;
}

.collector-acquisitions-name {
  font-size: 34px;
  line-height: 50px;
  text-align: left;
}

.collector-acquisitions-header .btn-request {
  width: 243px;
  height: 60px;
  color: white;
  font-size: 12px;
  font-weight: 400;
  padding: 12px;
  margin-left: 26px;
  cursor: pointer;
  background-color: black;
  border: 1px solid black;
}

.collector-acquisitions-header .btn-request:hover {
  color: black;
  background-color: white;
}

.container-acquisitions-content {
  /* width: 100%; */
  display: flex;
  padding-bottom: 40px;
  border-bottom: 1px solid black;
}

.collector-acquisitions {
  width: 100%;
}

.acquisitions-status-bar {
  background-color: #c4c4c4;
}

.acquisitions-status-bar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.acquisitions-status-bar input[type="radio"]:checked + label {
  font-weight: bold;
  text-decoration: underline;
  color: black;
  background-color: #c4c4c4;
  border: none;
}

.acquisitions-status-bar label:hover {
  color: black;
  background-color: #c4c4c4;
}

.acquisitions-status-bar label {
  margin: 0;
  font-size: 16px;
}

.status-pending {
  font-size: 16px;
  font-weight: bold;
  color: #c90000;
}
.status-in-progress {
  font-size: 16px;
  font-weight: bold;
  color: #64b3ed;
}
.status-confirmed {
  font-size: 16px;
  font-weight: bold;
  color: #68d390;
}
.openRequest {
  width: 145px;
  padding: 10px 0;
  color: white;
  background-color: #bebebe;
  border: none;
}

.openRequest-green {
width: 145px;
  padding: 10px 0;
  color: white;
  background-color: green;
  border: none;
}

.openRequest:hover {
  color: black;
  background-color: white;
  border: 1px solid #bebebe;
}

.btnAccept {
  width: 145px;
  height: 37px;
  color: white;
  background-color: #228102;
  border: none;
}

.btnAccept:hover {
  color: #228102;
  background-color: white;
  border: 1px solid #228102;
}

.btnCancel {
    width: 145px;
    height: 37px;
    color: white;
    background-color: red;
    border: none;
  }
  
  .btnCancel:hover {
    color: red;
    background-color: white;
    border: 1px solid red;
  }

.acquisitions-content-header {
  width: 100%;
  height: 171px;
  background-color: #dfc0c0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.collector-acquisitions-header .header-text {
  font-size: 20px;
  line-height: 50px;
  color: white;
  text-transform: uppercase;
}

.collector-acquisitions-title {
  position: relative;
  text-align: left;
  font-weight: bold;
  height: 40px;
  margin-top: 32px;
}

.collector-acquisitions-title > hr {
  position: absolute;
  width: 100%;
  margin-bottom: 0;
  margin-top: 16px;
}

.collector-acquisitions-title > .collector-title-text {
  font-size: 17px;
  font-weight: 700;
  position: absolute;
  padding-right: 20px;
  background-color: #fff;
  text-transform: uppercase;
}

.presented-galleries-selection {
  display: flex;
  justify-content: space-between;
}

.search-for-artist {
  width: 45%;
  height: 112px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-for-artist div {
  font-size: 15px;
  line-height: 22px;
  font-weight: bold;
}

.search-for-artist input {
  line-height: 22px;
  margin-left: 6px;
  width: 40%;
}

.receive-suggestion {
  /* margin: 24px 0 0 0; */
  width: 45%;
}

.receive-suggestion input[type="checkbox"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.receive-suggestion label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  /* padding: 5px 10px; */
  font-size: 13px;
  border: 1px solid #444;
  width: 100%;
  height: 112px;
}

.receive-suggestion input:-webkit-autofill,
.receive-suggestion input:-webkit-autofill:hover,
.receive-suggestion input:-webkit-autofill:focus,
.receive-suggestion input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

.receive-suggestion input[type="checkbox"]:checked + label {
  background-color: black;
  color: white;
}

.receive-suggestion input[type="checkbox"]:focus + label {
  border: 1px solid black;
}

.receive-suggestion label:hover {
  background-color: black;
  color: white;
}

.type-of-artwork {
  display: flex;
  justify-content: space-between;
}

input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.type-of-artwork label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  font-size: 12px;
  border: 1px solid #444;
  width: 45%;
  height: 172px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

input[type="radio"]:checked + label {
  background-color: black;
  color: white;
}

input[type="radio"]:focus + label {
  border: 1px solid black;
}

label:hover {
  background-color: black;
  color: white;
}

.artwork-type-title {
  font-size: 20px;
  font-weight: bold;
  line-height: 22px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.artwork-type-remark {
  text-transform: uppercase;
  font-size: 15px;
  width: 242px;
}

.type-of-medium {
  display: flex;
  justify-content: space-between;
}

.type-of-medium label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  font-size: 12px;
  border: 1px solid #444;
  width: 18%;
  height: 75px;
}

.type-of-medium label:hover {
  color: white;
  background-color: black;
}

.target-budget-gallery {
  display: flex;
  justify-content: center;
}

.collector-budget {
  width: 80%;
  height: 86px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.collector-budget div {
  font-size: 15px;
  line-height: 22px;
  font-weight: bold;
}

.collector-budget input {
  line-height: 22px;
  margin-left: 6px;
  width: 40%;
}

.collector-gallery {
  width: 80%;
  height: 86px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.collector-gallery div {
  font-size: 15px;
  line-height: 22px;
  font-weight: bold;
}

.collector-gallery select {
  line-height: 22px;
  margin-left: 6px;
  width: 40%;
}

.collector-request-message {
  width: 100%;
  border: 1px solid black;
}

#request-message {
  width: 90%;
  padding: 0 24px;
  /* margin: 0 24px; */
  border: none;
  resize: none;
  text-transform: uppercase;
}

/* .collector-request-message textarea {
    border: none;
    width: 100%;
    text-transform: uppercase;
    padding: 24px;
} */

.collector-text-area {
  padding: 12px;
  text-transform: uppercase;
}

.send-request-btn {
  color: white;
  font-size: 14px;
  margin: 20px;
  padding: 10px 12px;
  border: solid 0.25px black;
  cursor: pointer;
  background-color: black;
  text-decoration: none;
  width: 60%;
  height: 60px;
  order: 0;
  flex: 0 1 auto;
  align-self: center;
}
.send-request-btn:hover {
  background-color: white;
  color: black;
}
.offerDetails {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: stretch;
}
.offerDetails article {
  width: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: stretch;
}

.offerDetails article ul {
  /* padding: 1rem; */
  padding-left: 1rem;
  list-style: none;
}
.offerDetails .actionButtons {
  width: 30%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.status-in-progress-received {
    font-size: 16px;
    font-weight: bold;
    color: #64b3ed;
}

.offerDetails img {
    width: 135px;
    height: 180px;
    object-fit: cover;
}

.status-in-progress-accepted {
    font-size: 16px;
    font-weight: bold;
    color: green;
}

.status-in-progress-cancelled {
    font-size: 16px;
    font-weight: bold;
    color: red;
}


.offer-artwork-view {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    z-index: 9999;

    display: flex;
    justify-content: center;
}

.offer-artwork-view-container {
    width: 900px;
    height: 80%;
    background-color: white;
    margin-top:5%;
    margin-bottom: 5%;
    padding: 24px;
}


.offer-artwork-view-image-container {
    width: 100%;
    height: 490px;
}

.artwork-detail-image {
    width: 100%;
    height: 490px;
    object-fit: cover;
}

.artwork-view-detail-footer {
    display: flex;
    margin-top: 10px;
    text-align: left;
}

.artwork-detail-thumbnails {
    width: 276px;
    height: auto;
    overflow-x: auto;
    white-space: nowrap;
}

.existing-image {
    cursor: pointer;
}

.artwork-detail-thumbnail {
    width: 76px;
    height: 97px;
    object-fit: cover;
    margin-right: 16px;
}


.artwork-detail-info {
    margin-left: 45px;
    width: 650px;
    text-transform: uppercase;
}

.artwork-view-info-field {
    display: flex;
    width: 100%;
    text-align: left;
    font-weight: bold;
    margin-top: 6px;
}

.artwork-view-info-label {
    width: 50%;
}

.artwork-view-info-field .inventory-artist {
    font-size: 20px;
}

.artwork-view-info-field span {
    font-size: 14px;
    font-weight: normal;
}

.btn-back-acquisitions {
    width: 240px;
    height: 60px;
    margin-top: 32px;
    color: black;
    font-size: 12px;
    font-weight: 400;
    padding: 12px;
    cursor: pointer;
    background-color: white;
    border: 2px solid black;
}

.btn-back-acquisitions:hover {
    color: white;
    background-color: black;
}

.accquisitions-message-container {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

.accquisitions-message-container textarea {
  width: 80%;
  border: 1px solid black;
  padding: 12px;
  resize: none;
  margin-bottom: 12px;
}