body {
  font: 14px "akzidenz-grotesk_proregular";
  margin: 0;
  padding: 0;
}

#navbar {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
    z-index: 9999;
}

.btnAuth {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0px;
}

.btnAuth:active {
  outline: none;
  border: none;
}

/* .btnAuth:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background:black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
  margin-top: 0px;
}

.btnAuth:hover:after { 
  width: 100%; 
  left: 0; 
} */

#navtitles { 
  padding: 0; 
  list-style: none; 
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  text-align: center;
  height: 35px;
}
#navtitles > li { 
  display: table-cell; 
  position: relative; 
  padding: 15px 0;
  text-decoration: none;
}


.link {
  color: black;
  text-transform: uppercase;
  text-decoration: none; 
  display: inline-block;
  position: relative;
  font-size: 13px;
}

#navtitles > li > a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background:black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
  margin-top:7px;
}

#navtitles > li > a:hover:after { 
  width: 100%; 
  left: 0; 
}

.activeLink{
  font-family: 'akzidenz-grotesk_probold';
  border-bottom: 1px solid #000;
  padding-bottom: 0px;
}

#navtitles > li > .activeLink:hover:after { 
  width: 0%; 
  left: 0; 
}

